@using Prac.Models

@{
    ViewData["Title"] = "Home Page";
}

<p>Si quiere agregar</p>
    <a class="btn btn-primary" href='@Url.Action("CrearAlumno","Home")'>Agregar Nuevao alumno</a>


@foreach (Alumnos item in ViewBag.ListaAlumnos)
{
    <div class="text-center">
        <p>@item.nombre</p>
        <p>@item.apellido</p>
        <p>@item.curso</p>
        <p>@item.edad</p>
    </div>
 <a class="btn btn-info" href='@Url.Action("VerDetalleAlumno","Home", new {id = item.id})'>Ver Detalle</a>

}
